<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
    <variable name="logDirectory" value="C:\Logs\CroweHorwath\${shortdate}\" />
    <targets>
      <target name="fileTarget" xsi:type="File" fileName="${logDirectory}${logger}.log" layout="${longdate}|${level}|${callsite}|${message}" />
      <target name="debugTarget" xsi:type="File" fileName="${logDirectory}${logger}_debug.log" layout="${longdate}|${level}|${callsite}|${message}" />
      <target name="errorTarget" xsi:type="File" fileName="${logDirectory}${logger}_error.log" layout="${longdate}|${level}|${callsite}|${message}\n${exception:format=tostring}" />
      <target name="errorConsole" xsi:type="Console" layout="${message}\n${exception:format=tostring}" />
      <target name="infoTarget" xsi:type="Console" layout="${message}" />
    </targets>
    <rules>
      <logger name="*" levels="Info" writeTo="fileTarget" />
      <logger name="*" levels="Info" writeTo="infoTarget" />
      <logger name="*" levels="Error,Warn" writeTo="errorConsole" />
      <logger name="*" levels="Debug" writeTo="debugTarget" />
      <logger name="*" levels="Fatal,Error,Warn" writeTo="errorTarget" />
      <!--
      <logger name="*" levels="Trace" writeTo="errorConsole" />
      <logger name="*" levels="Trace" writeTo="fileTarget" />
      -->
    </rules>
  </nlog>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="HelloAPI" value="http://localhost/api/Hello"/>
  </appSettings>
</configuration>